@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#form-section {
  width: 33.38%;
  height: 150vh;
  margin: 7.36vh auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.25);
}

#form-section h1 {
  font-family: 'Abril Fatface', 'Times New Roman', Times, serif;
  margin-top: 15px;
}

#form-section p {
  margin-top: 5px;
  font-weight: normal;
}

#survey-form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#div-email,
#div-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#div-email input,
#div-name input {
  width: 80%;
  margin: 0 auto;
  height: 35px;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
}

#div-email input:hover,
#div-name input:hover {
  border-bottom: 3px solid #3669ED !important;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#div-email label,
#div-name label {
  margin-right: 69%;
  font-size: 12px;
  font-weight: 500;
}

#div-age input {
  width: 10%;
  padding-left: 5px;
}

#div-age label {
  font-weight: 500;
}

#div-select select {
  font-family: inherit;
  width: 70%;
  height: 35px;
}

#div-select p {
  font-weight: 500;
}

/*INICIO de estilos para RADIO y CHECKBOX*/
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #3669ED;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #3669ED;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    -webkit-transition: .3s, border-color .3s, -webkit-box-shadow .2s;
    transition: .3s, border-color .3s, -webkit-box-shadow .2s;
    transition: .3s, border-color .3s, box-shadow .2s;
    transition: .3s, border-color .3s, box-shadow .2s, -webkit-box-shadow .2s;
  }
  input[type='checkbox']:after,
  input[type='radio']:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  }
  input[type='checkbox']:checked,
  input[type='radio']:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  input[type='checkbox']:hover:not(:checked):not(:disabled),
  input[type='radio']:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type='checkbox']:focus,
  input[type='radio']:focus {
    -webkit-box-shadow: 0 0 0 var(--focus);
            box-shadow: 0 0 0 var(--focus);
  }
  input[type='checkbox']:not(.switch),
  input[type='radio']:not(.switch) {
    width: 21px;
  }
  input[type='checkbox']:not(.switch):after,
  input[type='radio']:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type='checkbox']:not(.switch):checked,
  input[type='radio']:not(.switch):checked {
    --o: 1;
  }
  input[type='checkbox']:not(.switch) {
    border-radius: 7px;
  }
  input[type='checkbox']:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    -webkit-transform: rotate(var(--r, 20deg));
            transform: rotate(var(--r, 20deg));
  }
  input[type='checkbox']:not(.switch):checked {
    --r: 43deg;
  }
  input[type='checkbox'].switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type='checkbox'].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    -webkit-transform: translateX(var(--x, 0));
            transform: translateX(var(--x, 0));
  }
  input[type='checkbox'].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type='checkbox'].switch:disabled:not(:checked):after {
    opacity: .6;
  }
  input[type='radio'] {
    border-radius: 50%;
  }
  input[type='radio']:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    -webkit-transform: scale(var(--s, 0.7));
            transform: scale(var(--s, 0.7));
  }
  input[type='radio']:checked {
    --s: .5;
  }
}

/*CODIGO que sí entiendo jaja*/
#div-radio,
#div-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#div-radio label,
#div-check label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px 20px;
}

#div-radio label input,
#div-check label input {
  margin-right: 5px;
}

#div-radio p,
#div-check p {
  font-weight: 500;
  margin-bottom: 3px;
}

/*FIN de estilos para RADIO y CHECKBOX*/
/*TEXTAREA*/
#div-textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#div-textarea textarea {
  font-family: inherit;
  width: 95%;
  height: 90px;
  margin: auto;
  border-radius: 5px;
}

#div-textarea textarea:hover {
  border: 2px solid #3669ED;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#div-textarea p {
  font-weight: 500;
  margin-bottom: 3px;
}

/*SUBMIT*/
#submit {
  font-style: inherit;
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  border: 4px solid #494949 !important;
  display: inline-block;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  /*fuera de plantilla*/
  width: 50%;
}

#submit:hover {
  color: #ffffff !important;
  background: #3669ED;
  border-color: #3669ED !important;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/* VERSION MOVIL */
@media screen and (max-width: 820px) {
  #form-section {
    width: 100%;
    height: 150vh;
    margin: 0;
  }
  #survey-form {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-left: 2%;
  }
}
/*# sourceMappingURL=styles.css.map */